
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
  <!-- User info -->
  <div class="login-info">
      <span> <!-- User image size is adjusted inside CSS, it should stay as it -->

          <a href="javascript:void(0);" id="show-shortcut">
              <img src="" alt="me" class="online" />
              <span>
                陈键霆
              </span>
              <i class="fa fa-angle-down"></i>
          </a>

      </span>
  </div>
  <!-- end user info -->
  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional hre="" links. See documentation for details.
    -->
    <ul id="PagemenuClass">
      <li>
        <a href="" title="首页">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">首页</span>
        </a>
      </li>
    </ul>

    <ul id="PagemenuClass">
      <li>
        <a href="javascript:void(0);" title="球队管理">
          <i class="fa fa-lg fa-fw fa-list-ul"></i>
          <span class="menu-item-parent">球队管理</span>
        </a>
        <ul>
          <li><a [routerLink]="['/teams/teamList']" routerLinkActive="active">球队管理</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>

<!-- MAIN PANEL -->
<div id="main" role="main">
  <router-outlet></router-outlet>
</div>
<!-- END MAIN PANEL -->

